body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.light {
    background-color: #FEFCFE;
    color: #2B3541;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 65px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.nav-item {
    padding-left: 14px;
    padding-right: 14px;
}

.main-nav-link {
    text-decoration: none;
    color: #2B3541;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

.main-nav-link:hover {
    border-bottom: 1px solid #2B3541;
    cursor: pointer;
}

.button-link{
    text-decoration: none;
    font-size: 14px;
    color: #2B3541;
    transition: 0.2s color ease;
}

.button-link:hover {
    color: #FBF138;
}


.main-logo {
    position: relative;
    left: -344px;
    top: -2px;
}

.main-nav {
    position: relative;
    left: -322px;
    top: 3px;
}

.main-nav-item {
    padding-right: 40px;
}

.nav-social-header {
    position: relative;
    left: 362px;
    top: -2px;
}

.nav-IN svg {
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.nav-IN svg:hover {
    opacity: 1;
    transform: scale(1.3);
}

.nav-IN path {
    fill: #2B3541;
}

.nav-FB svg {
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.nav-FB svg:hover {
    opacity: 1;
    transform: scale(1.3);
}

.nav-FB path {
    fill: #2B3541;
}

.banner {
    margin-top: 27px;
    position: relative;
}

.title-h1 {
    font-size: 48px;
    letter-spacing: calc(48px * 0.03);
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
}

.title-h2 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 400;
}

.title-h3 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
}

.main-h1-title {
    margin-top: 182px;
    margin-left: 8px;
    position: relative;
    z-index: 2;
}

.main-h2-title {
    margin-top: 43px;
    margin-left: 8px;
    margin-bottom: 21px;
    z-index: 2;
}

.training-number {
    padding-right: 21px;
    z-index: 2;
}

.banner-text {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 55px;
    line-height: 1.5;
    z-index: 2;
}

.button-link {
    margin-top: 15px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: calc(16px * 0.03);
    line-height: 1.5;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
    background-color: #FBF138;
    transition: 0.2s background-color ease;
    z-index: 2;
}

.button-link:hover {
    background-color: #2B3541;
}

.girl-image {
    /* display: none; */
    width: 100%;
    height: 930px;
    position: absolute;
    overflow: hidden;
    top: -264px;
    left: 261px;
    transform: scale(0.88);
    z-index: 1;
}

.girl-image img {
    width: 100%;
    height: 930px;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
    
}

.arrow-down-button {
    position: relative;
    top: 202px;
    left: 98px;
}

.events {
    margin-top: 358px;
    margin-left: 6px;
    margin-bottom: 0px;
}

.yellow-button {
    margin-top: 15px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: calc(16px * 0.03);
    line-height: 1.5;
    text-transform: uppercase;
    padding: 20px 43px 20px 43px;
    background-color: #FBF138;
    border: transparent;
    transition: 0.2s all ease;
}

.yellow-button:hover {
    background-color: #2B3541;
    color:#FBF138;
}

.btn-take_part {
    text-decoration: none;
    color: #FBF138;
    background-color: #2B3541;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    top: 34px;
    left: 31px;
    padding: 20px 4px;
    width: 213px;
    display: none;
}

.event-item-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 48px;
    margin-bottom: 0px;
    height: 772px;
}

.event-item {
    margin-right: 21px;
}

.yellow-static-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
    position: relative;
    width: 100%;
    height: 600px;
    top: -623px;

    transition: 0.2s ease all;
}

.yellow-static-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 1) 0%, rgba(253, 249, 182, 0) 100%);
    position: relative;
}

.yellow-static-gradient:hover>.event-type {
    display: none;
}

.yellow-static-gradient:hover>.btn-take_part {
    display: block;
}

.event-date {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    top: 31px;
    left: 32px;
}

.event-title {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    top: 23px;
    left: 32px;
}

.event-type {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #FBF138;
}

.event-type-01 {
    position: relative;
    top: 381px;
    left: 244px;
}

.event-type-02 {
    position: relative;
    top: 383px;
    left: 245px;
}

.event-type-03 {
    position: relative;
    top: 384px;
    left: 246px;
}

.schedule {
    margin-bottom: 100px;
}

.schedule-title {
    position: relative;
    top: -100px;
    left: 8px;
}

.week-title {
    display: inline-block;
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    top: -255px;
    left: 966px;
}

.training-item-group {
    margin-top: -193px;
    margin-left: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.training-column {
    display: grid;
    grid-gap: 20px;
}

.training-column-01 {
    grid-template-rows: 250px 433px;
}

.training-column-02 {
    grid-template-rows: 402px 281px;
}


.training-column-03 {
    grid-template-rows: 309px 374px;
}


.training-item {
    border: 1px solid #2B3541;
    width: 365px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.training-date-time {
    position: absolute;
}

.training-icon, 
.training-name, 
.training-description {
    position: relative;
}

.training-date-time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-name { 
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
}

.training-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    width: 80%;

    display: none;
}

.training-date-time-01 {
    top: 2px;
    right: 29px;
}

.training-icon-01 {
    bottom: 19px;
    left: 30px;
}

.training-name-01 {
    bottom: 1px;
    left: 29px;
}

.training-description-01 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-date-time-02 {
    top: 0px;
    right: 31px;
}

.training-icon-02 {
    bottom: 19px;
    left: 29px;
}

.training-name-02 {
    bottom: 1px;
    left: 29px;
}

.training-description-02 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-date-time-03 {
    top: 0px;
    right: 31px;
}

.training-icon-03 {
    bottom: 19px;
    left: 28px;
}

.training-name-03 {
    bottom: 1px;
    left: 36px;
}

.training-description-03 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-date-time-04 {
    top: 2px;
    right: 29px;
}

.training-icon-04 {
    bottom: 3px;
    left: 29px;
}

.training-name-04 {
    bottom: -15px;
    left: 30px;
}

.training-description-04 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-date-time-05 {
    top: 0px;
    right: 30px;
}

.training-icon-05 {
    bottom: 19px;
    left: 29px;
}

.training-name-05 {
    bottom: 1px;
    left: 29px;
}

.training-description-05 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-date-time-06 {
    top: 0px;
    right: 31px;
}

.training-icon-06 {
    bottom: 19px;
    left: 29px;
}

.training-name-06 {
    bottom: 1px;
    left: 29px;
}

.training-description-06 {
    bottom: 0px;
    left: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.training-item-active {
    border: 1px solid transparent;
    background: linear-gradient(#FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
}

.training-item:hover>.training-description,
.training-item-active>.training-description {
    display: block;
}

.section-mailing {
    margin: 0 auto;
}

.mailing {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 160px;
    position: relative;
    background-color: #F3F3F3;
    height: 348px;
    margin-bottom: 170px;
}

.circle-mailing {
    width: 53px;
    height: 53px;
    position: absolute;
    top: 63px;
    left: 625px;
}

.circle-mailing circle {
    fill: #FBF138;
}

.mailing-title {
    display: inline-block;
    position: relative;
    top: 40px;
    left: 659px;
}

.email-input{
    position: relative;
    border: none;
    outline: none;
    top: 129px;
    left: 60px;
    padding: 19px 130px 19px 19px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: calc(19px * 0.06);
}

.email-input::placeholder {
    font-weight: 100;
    opacity: 0.3;
}

.check__box {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 4px;
    width: 24px;
    height: 24px;
    /*background-image: url(/img/checkbox_background.svg);*/
}

.subscribe {
    position: relative;
    z-index: 2;
    top: 129px;
    left: 65px;
    margin-left: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.email__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 11px;
    left: 1px;
    width: 24px;
    height: 24px;
    background-image: url(/img/checkbox_unchecked.svg);
}

.email__input:checked {
    background-image: url(/img/checkbox_checked.svg);
}

label{
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

.PDA {
    position: relative;
    display: inline-block;
    width: 300px;
    top: 100px;
    left: 644px;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    margin-right: 0;
}

.PDA-link {
    color: rgba(43, 53, 65, 1);
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
}

.about {
    margin-top: 160px;
    margin-left: 8px;
    margin-bottom: 0;
    height: 389px;
}

.about-title {
    position: relative;
    left: 0px;
    top: -9px;
}

.about-description {
    position: relative;
    top: -30px;
    left: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.trainer-photo {
    position: relative;
    z-index: 1;
    top: -227px;
    right: -245px;
}

/*.gradient-trainer {
    margin-right: 0;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
    position: relative;
    z-index: 2;
    width: 580px;
    height: 336px;
    top: -342px;
    right: -560px;
}*/

.enlist-button {
    position: relative;
    top: -312px;
    left: -91px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.089em;
    text-transform: uppercase;
}

.advantages {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    margin-right: 15px;
}

.advantage-name {
    position: relative;
    left: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
}

.advantage-description {
    position: relative;
    top: 3px;
    left: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.advantage-name-02 {
    position: relative;
    top: 0px;
    left: 54px;
}

.advantage-description-02 {
    left: 56px;
}

.advantage-name-03 {
    position: relative;
    top: 0px;
    left: 86px;
}

.advantage-description-03 {
    left: 86px;
}

.advantage-name-04 {
    position: relative;
    top: 0px;
    left: 86px;
}

.advantage-description-04 {
    left: 86px;
}

footer {
    background-color: #F3F3F3;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 166px;
    padding-top: 44px;
    padding-bottom: 65px;
}

.footer-logo {
    position: relative;
    left: 369px;
}

.footer-nav {
    padding-left: 0;
    justify-content: space-between;
    position: relative;
    top: 2px;
    left: -129px;
}

.footer-nav-item {
    margin-right: 10px;
}

.footer-nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.footer-nav-link:hover {
    cursor: pointer;
}

.main-footer-nav-link {
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

.main-footer-nav-link:hover {
    border-bottom: 1px solid #2B3541;
    cursor: pointer;
}

.footer-nav-item-01 {
    position: relative;
    left: 9px;
}

.footer-nav-item-02 {
    position: relative;
    left: 62px;
}

.footer-nav-item-03 {
    position: relative;
    left: 115px;
}

.circle-nav-email {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 1214px;
}

.circle-nav-email circle {
    fill: #FBF138;
}

.nav-email {
    position: relative;
    top: 2px;
    left: -368px;
}

.nav-link-email {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.nav-social-01 {
    position: relative;
    left: -333px;
    top: -7px;
}

.nav-social-02 {
    position: relative;
    left: -341px;
    top: -7px;
}

.copyright-1 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(43, 53, 65, 0.3);
    position: relative;
    top: -61px;
    left: 386px;
}

.copyright-2 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(43, 53, 65, 0.3);
    position: relative;
    top: -61px;
    right: -873px;
}

.copyright-link {
    color: rgba(43, 53, 65, 0.3);
    transition: ease 0.2s color;
}

.header-mobile {
    position: relative;
    top: 12px;
    justify-content: space-between;
}

.mobile-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-item-01 {
    position: relative;
    top: 2px;
    /* left: -43px; */
    margin-left: -43px;
    margin-right: 24px;
}

.mobile-nav-item-02 {
    position: relative;
    margin-right: 69px;
}

.mobile-nav-item-03 {
    position: relative;
    margin-right: -8px;
    /*top: 14px;
    left: 10px;*/
}

.mobile-nav-item-04 {
    position: relative;
    /*top: 14px;
    left: 10px;*/
}

.mobile-nav-IN svg {
    width: 26px;
    height: 26px;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.mobile-nav-IN svg:hover {
    opacity: 1;
    transform: scale(1.3);
}

.mobile-nav-IN path {
    fill: #2B3541;
}

.mobile-nav-FB svg {
    width: 26px;
    height: 26px;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.mobile-nav-FB svg:hover {
    opacity: 1;
    transform: scale(1.3);
}

.mobile-nav-FB path {
    fill: #2B3541;
}

.copyright-link:hover {
    color: rgba(43, 53, 65, 1);
}

@media(min-width: 601px) {
    .header-mobile {
        display: none;
    }

    .about-description-mobile {
        display: none;
    }

    .btn-take_part-mobile {
        display: none;
    }
}

@media(max-width: 600px) {
    header {
        display: none;
    }

    .btn-take_part {
        display: none;
    }

    .menu {
        background: transparent;
        border: none;
    }
    .title-h1 {
        font-size: 26px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .title-h2,
    .title-h3 {
        font-size: 26px;
    }

    .banner {
        margin-top: -114px;
        margin-left: 3px;
        height: 662px;
    }

    .main-h2-title {
        margin-top: 45px;
        margin-left: 6px;
        margin-bottom: 18px;
    }

    .banner-text {
        margin-top: 10px;
        margin-left: 7px;
        margin-bottom: 58px;
        font-size: 16px;
        line-height: 1.5;
    }

    .button-link {
        margin-top: 0px;
        margin-left: 8px;
        padding: 20px 72px 26px 74px;
    }

    .girl-image {
        /* display: none; */
        width: 100%;
        height: 310px;
        top: 360px;
        left: -1px;
        transform: scale(0.95);
    }
    
    .girl-image img {
        width: 100%;
        height: 310px;
        
    }

    .arrow-down-button {
        display: none;
    }

    .events {
        margin-top: 60px;
        margin-left: 11px;
    }

    .event-title-h3 {
        position: relative;
        top: 20px;
    }

    .event-item-group {
        height: 656px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-areas: 'a b' 'c c';
    }

    .event-item-01,
    .event-item-02,
    .event-item-01 img,
    .event-item-02 img {
        width: 165px;
        height: 310px;
    }

    .event-item-03,
    .event-item-03 img {
        width: 340px;
        height: 336px;
    }

    .event-item img {
        object-fit: contain;
    }

    .event-item-01 {
        grid-area: a;
        top: -20px;
        /*grid-row: 1/2;
        grid-column: 1/2;*/
    }
    
    .event-item-02 {
        grid-area: b;
        /*grid-row: 1/2;
        grid-column: 2/3;*/
    }

    .event-item-03 {
        grid-area: c;
        /*grid-row: 2/3;
        grid-column: 1/3;*/
    }

    .yellow-static-gradient {
        height: 271px;
        top: -307px;
    }

    .yellow-static-gradient-03 {
        height: 336px;
        width: 340px;
        top: -353px;
    }

    .event-title {
        top: 26px;
        left: 19px;
        font-size: 16px;
        line-height: 120%;
    }

    .event-date {       
        font-size: 12px;
        line-height: 100%;
        top: 26px;
        left: 20px;
    }

    .event-type {
        font-size: 12px;
        line-height: 1.5;
        padding: 6px 16px;
    }

    .event-type-01 {
        top: 146px;
        left: 0px;
    }

    .event-type-02 {
        top: 146px;
        left: 0px;
    }

    .event-type-03 {
        top: 212px;
        left: 0px;
    }

    .yellow-static-gradient:hover>.btn-take_part {
        display: none;
    }

    .btn-take_part-mobile {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(/img/add.png);
        background-repeat: no-repeat;
    }

    .btn-take_part-01 {
        position: absolute;
        top: 239px;
        left: 134px;
    }

    .btn-take_part-02 {
        position: absolute;
        top: 239px;
        left: 134px;
    }

    .btn-take_part-03 {
        position: absolute;
        top: 307px;
        left: 307px;
    }

    .yellow-static-gradient:hover>.btn-take_part-01 {
        position: relative;
        top: 86px;
        left: 23px;
    }

    .schedule {
        margin-top: 46px;
    }

    .schedule-title {
        top: -14px;
        left: 11px;
    }


    .training-item-group {
        margin-top: -72px;
        margin-left: 8px;
        /*display: grid;
        grid-template-columns: 0;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;*/
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .training-column-01 {
        /*display: grid;
        grid-template-rows: repeat(2, 1fr);*/
        display: flex;
        flex-direction: column;
    }

    .training-column-02 {
        margin-top: -3px;
        /*display: grid;
        grid-template-rows: repeat(2, 114px);*/
        display: flex;
        flex-direction: column;
    }

    .training-column-03 {
        margin-top: -7px;
        /*display: grid;
        grid-template-rows: repeat(2, 114px);*/
        display: flex;
        flex-direction: column;
    }

    .training-item {
        height: 114px;
        width: 340px;
        transition: ease 0.2s height;
    }

    .training-item-active,
    .training-item:hover {
        height: 206px;
    }

    .training-item-05 {
        margin-top: -2px;
    }

    .training-item-06 {
        margin-top: -6px;
    }

    .week-title {
        font-size: 16px;
        line-height: 120%;
        top: -110px;
        left: 245px;
    }

    .training-date-time {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.7;
    }

    .training-date-time-01 {
        top: 4px;
        right: 19px;
    }

    .training-date-time-02 {
        top: 4px;
        right: 19px;
    }

    .training-date-time-03 {
        top: 4px;
        right: 19px;
    }

    .training-date-time-04 {
        top: 4px;
        right: 19px;
    }

    .training-date-time-05 {
        top: 4px;
        right: 19px;
    }

    .training-date-time-06 {
        top: 5px;
        right: 19px;
    }


    .training-icon-01 {
        bottom: -36px;
        left: 22px;
    }

    .training-icon-04 {
        bottom: -78px;
        left: 22px;
    }

    .training-icon-02 {
        bottom: -35px;
        left: 22px;
    }

    .training-icon-05 {
        bottom: -35px;
        left: 22px;
    }

    .training-icon-03 {
        bottom: -34px;
        left: 23px;
    }

    .training-icon-06 {
        bottom: -35px;
        left: 23px;
    }

    .training-icon-01 svg {
        width: 39px;
        height: 39px;
    }

    .training-icon-04 svg {
        width: 34px;
        height: 53px;
    }

    .training-icon-02 svg {
        width: 23px;
        height: 45px;
    }

    .training-icon-05 svg {
        width: 39px;
        height: 37px;
    }

    .training-icon-03 svg {
        width: 46px;
        height: 25px;
    }

    .training-icon-06 svg {
        width: 35px;
        height: 40px;
    }

    .training-name {
        font-size: 16px;
        line-height: 1.2;
    }

    .training-item-04 {
        top: 0px;
    }

    .training-name-01 {
        bottom: 12px;
        left: 78px;
    }

    .training-name-04 {
        bottom: -4px;
        left: 80px;
    }

    .training-name-02 {
        bottom: 18px;
        left: 78px;
    }

    .training-name-05 {
        bottom: 15px;
        left: 79px;
    }

    .training-name-03 {
        bottom: 9px;
        left: 79px;
    }

    .training-name-06 {
        bottom: 12px;
        left: 79px;
    }

    .training-description {
        font-size: 12px;
        line-height: 1.5;
        width: 60%;
    }

    .training-description-04 {
        bottom: 8px;
        left: 80px;
    }

    .mailing {
        max-width: 340px;
        margin: 0 auto;
        margin-top: -21px;
        position: relative;
        background-color: #F3F3F3;
        height: 414px;
        margin-bottom: 170px;
    }

    .mobile-ml {
        margin-left: 10px;
    }

    .circle-mailing {
        width: 31px;
        height: 31px;
        top: 43px;
        left: 57px;
    }

    .mailing-title {
        top: 30px;
        left: 72px;
        width: 60%;
    }

    .email-input {
        top: 56px;
        left: 8px;
    }

    .subscribe {
        top: 117px;
        left: -11px;
        padding: 20px 110px 20px 87px;
    }

    .PDA {
        top: -27px;
        left: -7px;
    }

    .about {
        margin-top: -88px;
    }

    .about-title {
        position: relative;
        left: 3px;
        top: 0px;
    }

    .about-description-widescreen {
        display: none;
    }

    .about-description {
        font-size: 16px;
        line-height: 1.5;
        top: -9px;
        left: 2px;
    }

    .advantages {
        margin-top: -200px;
        flex-direction: column;
    }

    .advantages-item {
        margin-top: 20px;
        margin-right: 15px;
    }

    .advantage-name,
    .advantage-description {
        font-size: 16px;
        line-height: 1.2;
        left: 11px;
    }

    .advantage-description {
        line-height: 150%;
        opacity: 0.6;
        width: 65%;
    }

    .advantage-name-01 {
        top: -20px;
    }

    .advantage-description-01 {
        top: -19px;
    }

    .advantage-name-02 {
        top: -33px;
    }

    .advantage-description-02 {
        top: -32px;
    }

    .advantage-name-03 {
        top: -45px;
    }

    .advantage-description-03 {
        top: -44px;
    }

    .advantage-name-04 {
        top: -57px;
    }

    .advantage-description-04 {
        top: -56px;
    }

    .enlist-button {
        top: 490px;
        left: -107px;
        padding: 20px 117px 20px 119px;
    }

    .trainer-photo {
        height: 207px;
        width: 360px;
        top: 528px;
        right: 8px;
    }

    footer {
        margin-top: 380px;
        background-color: #FFFFFF;
        margin-bottom: 30px;
    }

    .footer-logo {
        position: relative;
        top: -66px;
        left: 132px;
    }

    .footer-nav-link {
        font-size: 12px;
        line-height: 1.5;
    }

    .footer-nav-item-01 {
        position: relative;
        left: 14px;
    }

    .footer-nav-item-02 {
        position: relative;
        left: 27px;
    }

    .footer-nav-item-03 {
        position: relative;
        left: 38px;
        width: 77px;
    }

    .circle-nav-email {
        width: 20px;
        height: 20px;
        top: 82px;
        left: 19px;
    }

    .nav-email {
        position: relative;
        top: 45px;
        left: -470px;
    }

    .nav-social-01 {
        position: relative;
        left: -342px;
        top: 44px;
    }

    .nav-social-02 {
        position: relative;
        left: -357px;
        top: 44px;
    }

    .footer-nav-IN,
    .footer-nav-FB {
        text-decoration: none;
    }

    .footer-nav-IN svg {
        transform: scale(1);
        transition: transform 0.2s ease;
    }
    
    .footer-nav-IN svg:hover {
        opacity: 1;
        transform: scale(1.3);
    }

    .footer-nav-FB svg {
        transform: scale(1);
        transition: transform 0.2s ease;
    }
    
    .footer-nav-FB svg:hover {
        opacity: 1;
        transform: scale(1.3);
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
    }

    .copyright-1,
    .copyright-2 {
        font-size: 10px;
        line-height: 1.5;
    }

    .copyright-1 {
        top: 2px;
        left: 122px;
    }

    .copyright-2 {
        top: -3px;
        right: -41px;
    }

}