body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.light {
    background-color: #E5E5E5;
    color: #2B3541;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 65px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.nav-item {
    padding-left: 14px;
    padding-right: 14px;
}

.main-nav-link {
    text-decoration: none;
    color: #2B3541;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

.main-nav-link:hover {
    border-bottom: 1px solid #2B3541;
    cursor: pointer;
}

.nav-link .button-link{
    text-decoration: none;
    font-size: 14px;
    color: #2B3541;
    transition: 0.2s color ease;
}

.button-link .nav-link:hover {
    color: #FBF138;
}


.main-logo {
    position: relative;
    left: -344px;
    top: -2px;
}

.main-nav {
    position: relative;
    left: -322px;
    top: 3px;
}

.main-nav-item {
    padding-right: 40px;
}

.nav-social-header {
    position: relative;
    left: 362px;
    top: -2px;
}

.nav-IN svg {
    width: 30px;
    height: 30px;
    transition: all ease 0.2s;
}

.nav-IN svg:hover {
    width: 38px;
    height: 38px;
}

.nav-IN path {
    fill: #2B3541;
}

.nav-FB svg {
    width: 30px;
    height: 30px;
    transition: all ease 0.2s;
}

.nav-FB svg:hover {
    width: 38px;
    height: 38px;
}

.nav-FB path {
    fill: #2B3541;
}

.banner {
    margin-top: 27px;
    position: relative;
}

.title-h1 {
    font-size: 48px;
    letter-spacing: calc(48px * 0.03);
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
}

.title-h2 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 400;
}

.title-h3 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
}

.main-h1-title {
    margin-top: 182px;
    margin-left: 8px;
}

.main-h2-title {
    margin-top: 43px;
    margin-left: 8px;
    margin-bottom: 21px;
}

.training-number {
    padding-right: 21px;
}

.banner-text {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 55px;
    line-height: 1.5;
}

.button-link {
    margin-top: 15px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: calc(16px * 0.03);
    line-height: 1.5;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
    background-color: #FBF138;
    transition: 0.2s background-color ease;
}

.button-link:hover {
    background-color: #2B3541;
}

.girl-image {
    display: none;
}
    /*width: 100%;
    height: 930px;
    position: relative;
    overflow: hidden;
    top: -100px;
    left: 350px;
}

.girl-image img {
    width: 100%;
    height: 930px;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
}*/

.arrow-down-button {
    position: relative;
    top: 202px;
    left: 98px;
}

.events {
    margin-top: 358px;
    margin-left: 6px;
}

.yellow-button {
    margin-top: 15px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: calc(16px * 0.03);
    line-height: 1.5;
    text-transform: uppercase;
    padding: 20px 43px 20px 43px;
    background-color: #FBF138;
    border: transparent;
    transition: 0.2s background-color ease;
}