body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.light {
    background-color: #E5E5E5;
    color: #2B3541;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 65px;
    position: relative;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    padding-left: 14px;
    padding-right: 14px;
}

.main-logo {
    position: absolute;
    left: 22px;
    top: 50px;
}

.main-nav {
    position: absolute;
    left: 358px;
    top: 54px;
}

.main-nav-item {
    padding-right: 40px;
}


.nav-social {
    position: absolute;
    left: 1740px;
}

